# requirements.txt
# Core ML dependencies are installed separately in the Dockerfile

# Media generation
diffusers
transformers
accelerate
omegaconf
opencv-python-headless
soundfile
ffmpeg-python

# TTS
TTS
pydub

# Google Cloud dependencies
google-cloud-speech
google-auth
google-auth-oauthlib
google-api-core

# Other dependencies
safetensors==0.4.1
grpcio